{% extends 'blog2/base.html' %}
{% block content %}
     <div >
            <p>nuestra pagina esta en construcción pero ya puedes contactarnos.</p>
            <p>cel: 3175750088</p>
        </div>
        <div class="title">
            <h2><a href="../fotografia/">MAB fotografia</a></h2>
            <h2><a href="../musica/">MAB Música</a></h2>
            <h3><a href="https://www.linkedin.com/in/brayanandrumontenegroembus">linkedin Brayan Andru Montenegro Embus</a></h3>
            <h3><a href="https://www.instagram.com/mab_photographer/">Instagram Brayan Andru Montenegro Embus</a></h3>

        </div>
        
{% endblock %}
