{% extends 'blog2/base.html' %}
{% block content %}
     <div >
            <p>nuestra pagina esta en construcción pero ya puedes contactarnos.</p>
            <p>cel: 3175750088</p>
        </div>
        <div class="title">
            <h2><a href="/">MAB Música</a></h2>
        </div>
        <div >
            <p>ya son más de 10 años dedicado al servicio de música religiosa, en su trayectoria ha sido participe de toda clase de eventos matrimonios, bautizos, aniversarios y exequias.</p>
    </div>
{% endblock %}
