{% extends 'blog2/base.html' %}
{% block content %}
     <div >
            <p>nuestra pagina esta en construcción pero ya puedes contactarnos.</p>
            <p>cel: 3175750088</p>
        </div>
        <div class="title">
            <h2><a href="/">MAB fotografía</a></h2>
        </div>
        <div >
            <p>somos una empresa dedicada a capturar los momentos inolvidables de la vida, danos la oportunidad de acompañarte y plasmar por medio de nuestras cámaras tus momentos inolvidables.</p>
    </div>
{% endblock %}
